.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
    background: linear-gradient(180deg,#47fdae,#e1ffea22 60%);
}

/* Logo */
.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 45px;
}

.nav-logo h2 {
    font-size: 26px;
    font-weight: 600;
    color: #111;
}

/* Menu */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #000;
}

/* Active underline */
.active-line {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 10px;
}

/* Right Section */
.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Button */
.nav-login-cart button {
    padding: 8px 22px;
    border-radius: 25px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.nav-login-cart button:hover {
    background: #222;
}

/* Cart */
.nav-cart-wrapper {
    position: relative;
}

.nav-cart-wrapper img {
    height: 32px;
}

.nav-cart-count {
    position: absolute;
    top: -6px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
